.sections{
  border: 5px outset orange;
  background-color: pink;
  margin: 10px;
}

.heading{
  font-family: sans-serif;
  color: black;
  padding-left: 10px;
}

li{
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
}
